body {
  background-color: rgb(24, 23, 23);
  color: rgb(187, 175, 175);
}

/*div {
  -webkit-user-select: none; /* Safari */
  /*-ms-user-select: none; /* IE 10 and IE 11 */
  /*user-select: none; /* Standard syntax */
/*} */

#word-container {
  margin: 0 40px;
}

.container {
  max-width: 400px;
  display: inline;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: Sans-Serif;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  font-family: sans-serif;
  display: inline-block;
  padding: 40px 20px 40px 20px;
}

.title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.subtitle {
  font-family: 'Courier New', Courier, monospace;
  color: purple;
}

.about {
  display: inline-block;
  text-align: right;
  margin: 40px;
  width: 200px;
}

.about a {
  text-decoration: none;
 }

.message {
  display: inline-block;
  text-align: left;
  margin: 40px;
  width: 200px;
}

.share {
  border: 2px solid magenta;
  border-radius: 30px;
}

.mail {
  border: 2px solid orange;
  border-radius: 30px;
  background-color: yellow;
}

button:hover {
  cursor: pointer;
}

a {
  color:rgb(187, 175, 175);
  text-decoration: underline;
}

.highlight {
  color: limegreen;
}

footer {
  bottom: 0;
  width: 100%;
}

.about-imprint {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.msg-imprint {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1600px) {
  .title {
      font-size: 4em;
  }
}

@media (max-width: 576px) {
  .title {
      font-size: 3em;
  }
}

@media (max-width: 1600px) {
  .message-head {
      font-size: 4em;
  }
}

@media (max-width: 576px) {
  .message-head {
      font-size: 3em;
  }
}


@media (max-width: 1600px) {
  .what-is-this {
      font-size: 4em;
  }
}

@media (max-width: 576px) {
  .what-is-this {
      font-size: 3em;
  }
}